.App {
  margin: 60px auto;
  padding: 30px;
  border: 1px solid #2989d8;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  max-width: 600px;
}

.App footer {
  border-top: 1px solid #f9f7fe;
  text-align: center;
  color: #003;
  padding-top: 30px;
}
